<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>问题详情页</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
<!-- 不能在外部js中使用thymeleaf语法 -->
<script th:inline="javascript">
	function reply1() {
		var content = $("#floatingTextarea").val()
		var parentId = /*[[${questionDTO.getId()}]]*/
		comment(parentId, 1, content)
	}

	function reply2(e) {
		var parentId = e.getAttribute("data");
		var content = $("#input-" + parentId).val();
		comment(parentId, 2, content)
	}

	function comment(parentId, type, content) {
		$.ajax({
			type : 'POST',
			url : '/comment/insertOne',
			data : JSON.stringify({
				"parentId" : parentId,
				"content" : content,
				"type" : type
			}),
			contentType : 'application/json',
			dataType : 'json',
			success : function(data, textStatus, jqXHR) {
				console.log();
				if (data.msg == "评论内容不能为空") {
					alert(data.msg);
				}
			}
		})
	}

	// 	获取并展开二级评论， 高亮图案
	function collapse(e) {

		var id = e.getAttribute("data");
		var item = $("#comment" + id);
		if (item.hasClass("show")) {

			$("[data='" + id + "']").removeAttr("style");
			item.removeClass("show");
		} else {

			$.ajax({
				type : 'GET',
				url : '/comment/' + id,
				contentType : 'application/json',
				dataType : 'json',
				success : function(data, textStatus, jqXHR) {
					console.log();
					if (data.code == 1) {
						console.log(data.data);
						var fa = $("#comment" + id);
						// 						先删除所有之前的二级评论
						fa.children(".card.card-body").each(
								function(index, element) {
									$(element).remove();
								});

						// 						添加所有二级评论
						for (let i = 0; i < data.data.length; i++) {
							$("#comment" + id).prepend(
									"<div class='card card-body'>"
											+ data.data[i].user.login + "："
											+ data.data[i].content + "</div>");
						}
					}
				}
			})

			$("[data='" + id + "']").css({
				'color' : 'blue'
			});

			item.addClass("show");
		}
	}
</script>

</head>
<body>
	<div th:replace="~{common/common1 :: navigator}"></div>

	<div class="container-fluid bg-light"></div>
	<div class="row">
		<div class="col-xxl-9 col-xl-9 col-lg-9 col-md-12">
			<h1>[[${questionDTO.getTitle()}]]</h1>
			[['创建日期：' + ${questionDTO.getCreateTime()}]] | [['评论数：' +
			${questionDTO.getCommentCount()}]] | [['浏览数：' +
			${questionDTO.getViewCount()}]]
			<hr>
			[[${questionDTO.getDescription()}]]
			<hr>
			<!-- 问题标签 -->
			<button type="button" class="btn btn-info"
				th:each="item:${questionDTO.tag.split(',')}">[[${item}]]</button>
			<br> <a th:if="${session.gitHubUser!=null}"
				th:href="@{/question/publish/{id}(id=${questionDTO.getId()})}">编辑</a>
			<hr>

			<!-- 评论区 -->
			<h3>[[${questionDTO.getCommentCount()}+'个回复']]</h3>
			<br>
			<hr>
			<div th:each="item:${commentDTO}">
				<!--一级评论 -->
				<h6>
					<img th:src="@{'/' + ${item.getUser().getPicUrl()}}"
						style="width: 30px; height: 30px" class="img-thumbnail" alt="用户头像">[[${item.getUser().getLogin()}]]
				</h6>
				<h5>[[${item.getContent()}]]</h5>
				<i class="bi bi-hand-thumbs-up"></i> <i
					class="bi bi-chat-square-dots" th:data="${item.id}"
					onclick="collapse(this)"></i>

				<!--二级评论 -->
				<div class="collapse" th:id="${'comment'+ item.id}">
					<div class="card card-body">二级评论内容</div>
					<!--评论输入框 -->
					<div class="form-floating">
						<textarea class="form-control" placeholder="Leave a comment here"
							th:id="${'input-'+ item.id}"></textarea>
						<label for="${'input-'+ item.id}">评论一下</label>
					</div>
					<button type="submit" class="btn btn-primary" th:data="${item.id}"
						onclick="reply2(this)">评论</button>
				</div>

				<hr>
			</div>

			<!-- 			回复框 -->
			<hr>
			<div class="form-floating">
				<textarea class="form-control" placeholder="Leave a comment here"
					id="floatingTextarea"></textarea>
				<label for="floatingTextarea">Comments</label>
			</div>
			<button type="submit" class="btn btn-primary" onclick="reply1()">回复</button>
		</div>

		<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12">
			<h1>[[${questionDTO.getUser().getLogin()}]]</h1>
			<img th:src="@{'/' + ${questionDTO.getUser().getPicUrl()}}"
				style="width: 50px; height: 50px" class="img-thumbnail" alt="用户头像">
			<hr>

			<!-- 相关问题显示 -->
			<p th:if="${relQuestion.size()==0}">没有相关问题</p>
			<ul th:if="${relQuestion.size()>0}">
				<li th:each="item:${relQuestion}">
					<h4>[[${item.title}]]</h4>
				</li>
			</ul>

		</div>
	</div>
	</div>
</body>
</html>