<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>问题详情页</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
<!-- 不能在外部js中使用thymeleaf语法 -->
<script th:inline="javascript">
	function comment() {
		var content = $("#floatingTextarea").val()
		var parentId = /*[[${questionDTO.getId()}]]*/

		console.log(/*[[${questionDTO.getId()}]]*/)
		console.log(content)

		$.ajax({
			type : 'POST',
			url : '/comment/insertOne',
			data : JSON.stringify({
				"parentId" : parentId,
				"content" : content,
				"type" : 1
			}),
			contentType : 'application/json',
			dataType : 'json',
			success : function(data, textStatus, jqXHR) {
				console.log();
				if(data.msg == "评论内容不能为空"){
					alert(data.msg);
				}
			}
		})
	}
</script>

</head>
<body>
	<div th:replace="~{common/common1 :: navigator}"></div>

	<div class="container-fluid bg-light"></div>
	<div class="row">
		<div class="col-xxl-9 col-xl-9 col-lg-9 col-md-12">
			<h1>[[${questionDTO.getTitle()}]]</h1>
			[['创建日期：' + ${questionDTO.getCreateTime()}]] | [['评论数：' +
			${questionDTO.getCommentCount()}]] | [['浏览数：' +
			${questionDTO.getViewCount()}]]
			<hr>
			[[${questionDTO.getDescription()}]]
			<hr>
			<a th:if="${session.gitHubUser!=null}"
				th:href="@{/question/publish/{id}(id=${questionDTO.getId()})}">编辑</a>
			<hr>

			<!-- 评论区 -->
			<h3>[[${questionDTO.getCommentCount()}+'个回复']]</h3><br>
			<hr>
			<div th:each="item:${commentDTO}">
				<h6><img th:src="@{'/' + ${item.getUser().getPicUrl()}}"
					style="width: 30px; height: 30px" class="img-thumbnail" alt="用户头像">[[${item.getUser().getLogin()}]]</h6>
				<h5>[[${item.getContent()}]]</h5>
				<i class="bi bi-hand-thumbs-up"></i>
				<i class="bi bi-chat-square-dots"></i>
				<hr>
			</div>
			
<!-- 			回复框 -->
			<hr>
			<div class="form-floating">
				<textarea class="form-control" placeholder="Leave a comment here"
					id="floatingTextarea"></textarea>
				<label for="floatingTextarea">Comments</label>
			</div>
			<button type="submit" class="btn btn-primary" onclick="comment()">回复</button>
		</div>

		<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12">
			<h1>[[${questionDTO.getUser().getLogin()}]]</h1>
			<img th:src="@{'/' + ${questionDTO.getUser().getPicUrl()}}"
				style="width: 50px; height: 50px" class="img-thumbnail" alt="用户头像">
			<hr>
		</div>
	</div>
	</div>
</body>
</html>